@import '../config';


.about-info {
    display: grid;
    grid-gap: 30px;
    grid-template-areas: 
    'bio bio bioimage'
    'skills-frontend skills-backend skills-other';
    grid-template-columns: repeat(3, 1fr);
}

.bio-image {
    grid-area: bioimage;
    margin: auto;
    border-radius: 50%;
    border: $secondary-color 3px solid;

}
 .bio {
     grid-area: bio;
     font-size: 1.5rem;
 }

 .skills-frontend {
     grid-area: skills-frontend;
 }
 .skills-backend {
     grid-area: skills-backend;
 }
 .skills-other {
     grid-area: skills-other;
 }