@font-face {
  font-family: 'JetBrains Mono';
  src: url("https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/web/eot/JetBrainsMono-Regular.eot") format("embedded-opentype"), url("https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/web/woff2/JetBrainsMono-Regular.woff2") format("woff2"), url("https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/web/woff/JetBrainsMono-Regular.woff") format("woff"), url("https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/ttf/JetBrainsMono-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

.about {
  padding: 5rem;
  background: #0B0C10;
  background: url(../assets/images/about2.webp), radial-gradient(circle, #45a29e 0%, #0b0c10 90%);
  background-size: cover;
  background-blend-mode: multiply; }

.about-section {
  display: grid;
  grid-gap: 30px;
  grid-template-areas: 'bio bio bioimage' 'skills1 skills2 skills3';
  grid-template-columns: repeat(3, 1fr); }

.bio-image {
  grid-area: bioimage;
  margin: auto;
  border-radius: 50%;
  border: #1F2833 3px solid; }

.bio {
  grid-area: bio;
  font-size: 1.5rem; }

.skills-frontend {
  grid-area: skills1; }

.skills-backend {
  grid-area: skills2; }

.skills-other {
  grid-area: skills3; }

.skills {
  background: #15171f;
  padding: 1rem;
  border-bottom: #1F2833 5px solid; }
