.about-container {
  padding: 5rem; }

.about-section {
  display: grid;
  grid-gap: 30px;
  grid-template-areas: 'bio bio bioimage' 'skills1 skills2 skills3';
  grid-template-columns: repeat(3, 1fr); }

.bio-image {
  grid-area: bioimage;
  margin: auto;
  border-radius: 50%;
  border: blue 3px solid; }

.bio {
  grid-area: bio;
  font-size: 1.5rem; }

.skills-frontend {
  grid-area: skills1; }

.skills-backend {
  grid-area: skills2; }

.skills-other {
  grid-area: skills3; }

.skills {
  background: #515151;
  padding: 1rem;
  border-bottom: blue 5px solid; }
