
.icons {
    display: flex;
    flex-direction: row;
    align-content: center;
    
    
}
svg {
    
    height: 5rem;
    width: 5rem;
}

h1,
h2,
h3 {
    margin: 0;
    font-weight: 700;
    &.lg-heading {
        font-size: 6rem;
    }
}