.icons {
  display: flex;
  flex-direction: row;
  align-content: center; }

svg {
  height: 5rem;
  width: 5rem; }

h1,
h2,
h3 {
  margin: 0;
  font-weight: 700;
  color: #C5C6C7; }

h1 span,
h2 span,
h3 span {
  color: #66FCF1; }

h1.lg-heading,
h2.lg-heading,
h3.lg-heading {
  font-size: 6rem; }

h1.sm-heading,
h2.sm-heading,
h3.sm-heading {
  margin-bottom: 1rem;
  padding: 0.2rem 1rem; }

a {
  text-decoration: none; }

.home {
  padding: 4rem;
  height: 100vh;
  background-color: #0B0C10; }

.home .icons a {
  padding: 0.4rem; }

.home .icons .tweeter-icon {
  color: #C5C6C7; }

.home .icons .tweeter-icon:hover {
  color: #1da1f2;
  transition: all 0.9s ease-out; }

.home .icons .linkedin-icon {
  color: #C5C6C7; }

.home .icons .linkedin-icon:hover {
  color: #2867b2;
  transition: all 0.9s ease-out; }

.home .icons .github-icon {
  color: #C5C6C7; }

.home .icons .github-icon:hover {
  color: #211F1F;
  transition: all 0.9s ease-out; }

.home.home {
  overflow: hidden; }

.home.home h1 {
  margin-top: 20vh; }
