.menu-drawer {
    position: fixed;
    top: 0;
    width: 100%;
    opacity: 0.9;
    background-color: gray;
    height: 100vh;
    ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    li {
        margin: 1rem;
    }
    a {
        font-size: 1.5rem;
    }
}