@import '../config';

.drawer-button {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 30px;
    width: 30px;
    background: transparent;
    position: fixed;
    top: 3rem;
    left: 3rem;
    border: none;
    cursor: pointer;
    padding: 0;
    box-sizing: border-box;
    z-index: 10;
    :focus {
      outline: none;
    }
}

.drawer-button__line {
  width: 100%;
  height: 3px;
  background-color: $light-cyan;
}