@import '../config';

.projects-info {
    padding: 4rem 4rem 4rem 7rem;
    height: 100vh;
    background: $primary-color;
    background: url(../assets/images/about2.webp),
    radial-gradient(circle, rgba(69,162,158,1) 0%, rgba(11,12,16,1) 90%);
    background-size: cover;
    background-blend-mode: multiply;
 
}
.projects-section {
    display: grid;
    grid-gap: 30px;
    grid-template-areas: 
    'project1 project2 project3'
    'project4 project5 project6';
    grid-template-columns: repeat(3, 1fr);        
}
.lg-heading {
    margin-top: 8vh;
}
h3 {
    color: $light-cyan;
}

.project-container {
    margin: auto;
}

.project1 {
    grid-area: project1;
}
.project2 {
    grid-area: project2;
}
.project3 {
    grid-area: project3;
}
.project4 {
    grid-area: project4;
}
.project5 {
    grid-area: project5;
}