@import '../config';

.projects-info {
    padding: 4rem 4rem 4rem 7rem;
    height: 100vh;
    background: $primary-color;
    background: url(../assets/images/about2.webp),
    radial-gradient(circle, rgba(69,162,158,1) 0%, rgba(11,12,16,1) 90%);
    background-size: cover;
    background-blend-mode: multiply;    
}
.lg-heading {
    margin-top: 8vh;
}
h3 {
    color: $light-cyan;
}