@font-face {
  font-family: 'JetBrains Mono';
  src: url("https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/web/eot/JetBrainsMono-Regular.eot") format("embedded-opentype"), url("https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/web/woff2/JetBrainsMono-Regular.woff2") format("woff2"), url("https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/web/woff/JetBrainsMono-Regular.woff") format("woff"), url("https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/ttf/JetBrainsMono-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

.projects-info {
  padding: 4rem 4rem 4rem 7rem;
  height: 100vh;
  background: #0B0C10;
  background: url(../assets/images/about2.webp), radial-gradient(circle, #45a29e 0%, #0b0c10 90%);
  background-size: cover;
  background-blend-mode: multiply; }

.lg-heading {
  margin-top: 8vh; }

h3 {
  color: #66FCF1; }
