* {
  box-sizing: border-box; }

body {
  margin: 0;
  font-family: 'Merriweather', serif;
  height: 100%; }

.about-info {
  grid-template-areas: 'bioimage' 'bio' 'skills-frontend' 'skills-backend' 'skills-other';
  grid-template-columns: 1fr; }
